<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>
        Login Page
    </h1>


    <form> 
        <input type="text"/>
        <input type="text"/>
        <input type="button" value="login"/>
    </form>
    
    <div class="login" id="loginTitle">
        <h3><%= login.name %></h3>
        <p><%= login.pass %></p>
    </div>

</body>
</html>